<div class="container">
    <div class="txt">
        <div class="text-container">
            <span class="text">Contact Us</span>
        </div>
        <br>
        <form>
            <mat-form-field class="inp">
                <mat-label>Name</mat-label>
                <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field class="inp">
                <mat-label>Phone</mat-label>
                <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field class="inp2">
                <mat-label>Email address</mat-label>
                <input matInput>
            </mat-form-field>
            <br>
            <mat-form-field class="inp3">
                <mat-label>Note</mat-label>
                <input matInput type="text">
            </mat-form-field>
            <br>
            <button mat-fab extended color="warn" (click)="openDialog()">
                Contact Us
            </button>
        </form>
    </div>
    <div class="pic">
        <img src="../../../assets/logo.png" width="500px">
    </div>
</div>