<div class="container">
    <div class="centered-text">
        <p class="title1">Sail & Sea</p>
        <br>
        <p class="title2">VACATIONS TO REMEMBER</p>
        <br>
        <!-- <p class="title3">חופשה בלתי נשכחת, בבתים ויאכטות יוצאי דופן, עם שירות ששם אותך במרכז.
            <br>
            הדרך הקלה והאיכותית ביותר בשבילך, להגיע מהמשרד אל סיפון היאכטה
            <br>
            ....ולהישען לאחור
        </p> -->
        <p class="title3">An unforgettable vacation, in exceptional homes and yachts,
            <br>with service that puts you in the center. The easiest and highest quality
            <br>way for you to get from the office to the deck of the yacht
            <br> and lean
            back...
        </p>
        <br>
        <!-- <button class="btn" (click)="openMe()">בוא נצא לדרך</button> -->
        <button class="btn"><a href="#trips">Let's Go</a></button>
    </div>
    <div class="frame">
        <a class="bottom-left-button" href="#contact"><img src="../../../assets/support.png">
        </a>
    </div>
</div>

<app-all-trips id="trips"></app-all-trips>
<app-contact id="contact"></app-contact>
<app-about id="about"></app-about>
